<%= model.escape("name") %>
<div class="displayfield">
  <% /* <%= this.model.html() %> */ %>
  <input name="<%= model.escape('name') %>" type="<%= model.escape('field_type') %>" value="<%= model.escape('value') %>"/>
</div>
<div class="arrow"></div>
