<label>
  Label:
  <input type="text" name="label" value="<%= model.escape('label') %>" autofocus />
</label>

<label>
  Type: <div class="field_type"><%= model.escape('field_type') %></div>
</label>

<% if (!model.hasChildren()) { %>
  <label>
    Default Value:
    <input
      name="value"
      type="text"
      value="<%= model.escape('value') %>"
    />
  </label>
<% } else { %>
  <div class="field-children">
    <div class="item-header clearfix">
      <h3 class="heading">Choices</h3>
      <button class="large-button add-child add-item">New Choice</button>
    </div>
    <ul class="children-table">
    </ul>
  </div>
<% } %>

<ul class="advanced-settings">
  <li><a href="javascript:void(0);" class="toggle-advanced-settings">Advanced Settings</a></li>
  <li>
    <a href="javascript:void(0);" class="toggle-advanced-settings none">Close Advanced Settings</a>
    <div class="advanced-settings-controls" style="display: none;">
      <% var options = this.model.get('options') %>

      <fieldset>
        <label>
          <input
            type="checkbox"
            name="options[required]"
            <%= options.required ? 'checked' : '' %>
          />
          Required?
        </label>
        <label>
          <input
            type="checkbox"
            name="options[duplicates]"
            <%= options.duplicates ? 'checked' : '' %>
          />
          Duplicates?
        </label>
      </fieldset>

      <div class="padding-left-10">
        <label>
          Additional Instructions
          <textarea
            type="text"
            name="options[sublabel]"
          ><%=
            _.escape(options.sublabel)
          %></textarea>
        </label>
        <label>
          Hovertext
          <input
            type="text"
            name="options[title]"
            value="<%= _.escape(options.title) %>"
          />
        </label>
        <label>
          Placeholder
          <input
            type="text"
            name="options[placeholder]"
            value="<%= _.escape(options.placeholder) %>"
          />
        </label>
        <label>
          CSS Tags
          <input type="text" name="options[classes]" value="<%= _.escape(options.classes) %>" />
        </label>
      </div>

      <% if (model.get("hasMinMax")) { %>
        <fieldset class="minimax">
          <label><div>Min</div><input type="text" name="options[min]"></label>
          <label><div>Max</div><input type="text" name="options[max]"></label>
        </fieldset>
      <% } %>
    </div>
  </li>
</ul>

<div class="bottom-section">
  <button class="delete-button danger-button">Delete Field</button>

  <button class="right-button">Promulgate!</button>
</div>
