<!DOCTYPE html>
<html>
<head>
  <title>Promulgation</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="clearfix">
    <div class="header-content">
      <div class="clearfix">
        <div class="logo"></div>
        <ul class="navbar-right-links">
          <li><%=
            unless logged_in?
              link_to :Login, new_session_url
            else
              button_to("Logout", session_url, method: :delete)
            end
            %></li>
          <li><%= link_to :Register, new_user_url %></li>
        </ul>
      </div>
      <% if logged_in? %>
        <ul class="navbar-center-links">
          <li><a href="#">Index</a></li>
        </ul>
      <% end %>
    </div>
  </header>



<div class="content clearfix">
<%= yield %>
</div>

  <ul class="footer">
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Privacy Policy</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Terms of Service</a></li>
    <li><a href="#">Developers</a></li>
  </ul>

</body>
</html>
