<!DOCTYPE html>
<html>
<head>
  <title>Promulgation</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <script src="//fast.eager.io/VxMz1AQ3D8.js"></script>
</head>
<body>

  <header class="clearfix">
    <div class="header-content">
      <div class="clearfix">
        <a class="logo" href="/"></a>
        <ul class="navbar-right-links">
          <li><%=
            unless logged_in?
              link_to :Login, new_session_url
            else
              button_to("Logout", session_url, method: :delete)
            end
            %></li>
          <% unless logged_in? %>
            <li><%= link_to :Register, new_user_url %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </header>

<div class="content clearfix">
  <% if logged_in? %>
    <ul class="navbar-center-links">
      <li><a href="/#">Forms</a></li>
    </ul>
  <% end %>
  <ul class="static-form-errors">
    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    <% end %>
  </ul>
<%= yield %>
</div>

  <ul class="footer">
    <!-- <li><a href="/contact">Contact Us</a></li> -->
    <!-- <li><a href="/privacy">Privacy Policy</a></li> -->
    <li><a href="/about">About</a></li>
    <!-- <li><a href="/terms">Terms of/ Service</a></li> -->
    <!-- <li><a href="/developers">Developers</a></li> -->
  </ul>

</body>
</html>
